<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left class="Menu">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu" class="resize-icon"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row row-12>
      <ion-col>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-card *ngFor="let shop of shops">
      <ion-item (click)="navToEdit(shop)">

        <ion-row>

          <ion-col col-5>
            <img src="{{ shop.coverImage }}" class="img-rect">
          </ion-col>

          <ion-col col-5 class="order-detail">

            <h2>{{ shop.shopName }}</h2>
            <p>Street: {{ shop.street }}</p>
            <p>City: {{ shop.city }}</p>
            <p>Offer: {{ shop.offers }}%</p>
            <ion-row *ngIf="shop.status == 1">
              <button class="b b2 com2 adjust1 adjust2 " ion-button round>Open</button>
            </ion-row>
            <ion-row *ngIf="shop.status == 0">
              <button class="b b3 com2 adjust1 adjust2 " ion-button round>Closed</button>
            </ion-row>
          </ion-col>

          <ion-col col-2 class="call-icon" (click)="callNumber(shop.contactNumber)">
            <ion-icon name="call"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-item>
    </ion-card>

  </ion-grid>

</ion-content>

<!-- <ion-footer text-center no-border>

  <button ion-button round color="secondary" (click)="addShop()">Add New</button>

</ion-footer> -->
