page-haircut-conformation {

    /* ======================================
                    Header
    ======================================= */
    
    .toolbar-title.toolbar-title-md{ 
        color: #18A0A0; 
        font-size: large; 
        font-weight: 400; 
        text-align: center !important; 
        // margin-right: 15%;
    } 
    .toolbar-background { 
        background-color: White !important;
    }
    ion-icon{
        color: #18A0A0;
    }



    /* ========================================
                ion-content - ion-grid
    ========================================= */
    ion-grid{
        margin-top: 160px;
    }
    div{
        margin-left: 5%
   }
    ion-row{
        margin-top: 10px !important;
    }
    .bold{
        font-weight: bolder;
    }



    /* =========================================
                 ion-content - ion-card
    ========================================== */
    ion-card{
        height: 50px !important;
        padding-top: 5px;
        padding-bottom: 5px; 
        margin-top: 250px !important; 
        background-color: #18A0A0 !important ;
        text-align: center;
    }
    p{
        text-align: center;
        color: white !important;
        font-size: smaller !important;
       
    }


}
