page-haircut-conformation {

  /* ======================================
                    Header
    ======================================= */

  .toolbar-title.toolbar-title-md {
    font-family: 'Segoe UI';
    opacity: 500% !important;
    color: #18A0A0;
    font-size: 24px;
    text-align: center !important;
    // margin-right: 15%;
  }

  .toolbar-background {
    background-color: White !important;
  }

  ion-icon {
    color: #18A0A0;
  }



  /* ========================================
                ion-content - ion-grid
    ========================================= */

  ion-content {
    height: 100%;
    width: 100%;
    position: relative;
  }

  ion-grid {
    border: 1px solid white;
    position: absolute;
    width: 400px !important;
    height: 250px !important;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
  }

  ion-row {
    margin-top: 10px !important;
    border: 1px solid white;
  }

  ion-col {
    border: 1px solid white;
    text-align: left !important;
    // margin-left: 1% !important;
  }

  .marginLeft-45 {
    // font-weight: bolder;
    font-family: 'Segoe UI';
    font-size: 17px;
    margin-left: 35% !important;
  }

  .marginLeft-colon {
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-left: 200% !important;
  }

  .marginLeft-light {
    font-family: 'Segoe UI';
    font-size: 14px;
    margin-top: 3px;
    margin-left: 16% !important;
  }

  // div{
  //     position: relative;
  //     // text-align: center;

  // }



  /* =========================================
                 ion-content - ion-card
    ========================================== */
    ion-footer {
        width: 100%;
    }

  ion-card {
      position: relative;
    height: 60px !important;
    width: 400px !important;
    align-content: center !important;
    padding-top: 7px;
    left: calc(50% - 200px);
    padding-bottom: 6px;
    margin: 0;
    background-color: #18A0A0 !important;
  }

  p {
    text-align: center;
    color: white !important;
    font-size: 16px !important;
    font-family: 'Segoe UI';

  }

  .reduceTop {
    margin-bottom: -3px !important;
  }


}
