<!--
  Generated template for the HaircutConformationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-navbar class="toolbar-background">
   
  </ion-navbar> -->
  <ion-toolbar>
    <ion-title class="toolbar-title.toolbar-title-md">Order Confirmation</ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding>

  <ion-grid>

    <!-- Header meta data -->
    <ion-row>
      <ion-col col-5 class="shop-image">
        <img src="../../../assets/imgs/image2.png" alt="Image">
      </ion-col>
      <ion-col col-7 class="meta-data">

        <ion-row>
          <ion-col col-10>
            <ion-row class="l1">

              <ion-col col-12 size-sm>
                <b>{{ bookedDetails.shopName }}</b>
              </ion-col>
              <ion-col col-12 size-sm>
                <b>Date : </b> {{ bookedDetails.date }}
              </ion-col>
              <ion-col col-12 size-sm>
                <b>Time : </b> {{ bookedDetails.time }}
              </ion-col>

              <ion-col col-12 size-sm *ngIf="bookedDetails.seats.first == 1 && bookedDetails.seats.second == 0">
                <b>Seat No. : </b> 1
              </ion-col>

              <ion-col col-12 size-sm *ngIf="bookedDetails.seats.first == 0 && bookedDetails.seats.second == 1">
                <b>Seat No. : </b> 2
              </ion-col>

              <ion-col col-12 size-sm *ngIf="bookedDetails.seats.first == 1 && bookedDetails.seats.second == 1">
                <b>Seat No. : </b> 1, 2
              </ion-col>

            </ion-row>
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

    <!-- Terms and Conditions -->
    <ion-row id="terms">

      <ion-col col-12>
        <h2>Terms and Conditions</h2>
      </ion-col>

      <ion-col col-12>

        <ul>
          <li>Timing slot for each batch is 30 minutes</li>
          <li>Cancellation is not allowed</li>
          <li>You should report before 10 minutes of the booked time slot to the shop</li>
          <li>Booking charges may apply*</li>
          <li>Shop's Terms and Conditions may also apply*</li>
        </ul>

      </ion-col>

    </ion-row>

    <!-- Checkbox for accepting terms and conditions -->
    <ion-row id="terms-checkbox">

      <ion-col col-12>
        <ion-item no-lines>
          <ion-label text-wrap>I accept to the Terms and Conditions</ion-label>
          <ion-checkbox color="dark" checked="false" [(ngModel)]="conformed"></ion-checkbox>
        </ion-item>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer no-border>
  <div text-center>
    <button ion-button color="secondary" round [disabled]="!conformed" (click)="bookClicked()">Confirm Booking</button>
  </div>
</ion-footer>
