page-login {
    .toolbar-title.toolbar-title-md{ padding-left:10px; text-align: center; color: white; font-size: 25px;}
    .toolbar-background {background-color: #18A0A0; }
    .l1{
        position: relative;
        height: 10px;
        margin-left: 20px;
        width: 290px;
        border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-top: 100px;
         margin-bottom: 10px;
         border: 1px solid black;
         border-bottom:1px solid black; 
         box-shadow: none !important;
    }
    .l2{
        position: relative;
        height: 10px;
        margin-left: 20px;
        width: 290px;
        border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-top: 10px;
         margin-bottom: 10px;
         border: 1px solid black;
         
         box-shadow: none !important;
    
    }
    
    ion-buttons{
        margin-left: 20px;
        margin-right: 20px;
        margin-top:50px;
        margin-bottom: 50px;
    }
}