<!--
  Generated template for the HaircutBookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- Header -->
<ion-header>
  <ion-navbar>
    <ion-title class="toolbar-title.toolbar-title-md ">Book</ion-title>

    <ion-buttons right class="Union" (click)="navToProfile()">
      <button ion-button icon-only>
        <ion-icon name="custom-Union" class="resize-icon"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons right class="hammer" (click)="navToMyOrders()">
      <button ion-button icon-only>
        <ion-icon name="custom-hammer" class="resize-icon"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<!-- content -->
<ion-content padding>

  <ion-grid>

    <!-- image -->
    <!-- Image Section -->
    <ion-row id="image-section">
      <ion-col col-12>
        <ion-scroll scrollX="true" style="white-space: nowrap; height: 200px">

          <div class="image-wrapper" *ngFor="let images of selectedShop.shopImage">
            <!-- <ion-icon name="add"></ion-icon> -->
            <img src="{{ images.image }}" alt="Image">
          </div>

        </ion-scroll>
      </ion-col>
    </ion-row>

    <!-- Shop Details -->
    <ion-row justify-content-center>
      <div text-center>
        <p class="shopName"><b>{{ selectedShop.shopName }}</b></p>
        <p class="shopDetails"><b>Date : </b>{{ toDate }}</p>
      </div>
    </ion-row>

    <!-- Available payment options -->
    <ion-row>

      <!-- Heading -->
      <ion-col col-12>
        <b>Available Payment Options</b>
      </ion-col>

      <ion-col col-12 class="payment-icons">

        <ion-row>

          <ion-col col-2 *ngIf="selectedShop.paymentOptions.googlepay">
            <img src="../../../assets/imgs/google-pay.png" alt="Google Pay">
          </ion-col>

          <ion-col col-2 *ngIf="selectedShop.paymentOptions.paytm">
            <img src="../../../assets/imgs/paytm.png" alt="Paytm">
          </ion-col>

          <ion-col col-2 *ngIf="selectedShop.paymentOptions.phonepe">
            <img src="../../../assets/imgs/phonepe.png" alt="PhonePe">
          </ion-col>

        </ion-row>

      </ion-col>

    </ion-row>

    <!-- Timings -->
    <ion-row>
      <p class="time"><b>Time</b></p>
    </ion-row>

    <ion-row *ngIf="selectedShop.seatCapacity == 2">

      <ion-col col-4 *ngFor="let times of timeSlots">
        <div
          [ngClass]="[times.status == 0?'green':'', times.status == 1?'yellow':'', times.status == 2?'red':'', times.state == 1?'fade-out':'']"
          class="roundedCorners">

          <!-- Clickable -->
          <div *ngIf="times.state == 0" (click)="popup(times)">
            <p class="textSize">{{ times.time }}</p>
            <ion-row justify-content-center>
              <ion-col col-5>
                <ion-icon name="custom-gnSeat" [ngClass]="[times.first?'greyIcon':'greenIcon']"></ion-icon>
              </ion-col>
              <ion-col col-5>
                <ion-icon name="custom-gnSeat" [ngClass]="[times.second?'greyIcon':'greenIcon']"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

          <!-- Non - Clickable -->
          <div *ngIf="!times.state == 0">
            <p class="textSize">{{ times.time }}</p>
            <ion-row justify-content-center>
              <ion-col col-5>
                <ion-icon name="custom-gnSeat" [ngClass]="[times.first?'greyIcon':'greenIcon']"></ion-icon>
              </ion-col>
              <ion-col col-5>
                <ion-icon name="custom-gnSeat" [ngClass]="[times.second?'greyIcon':'greenIcon']"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

        </div>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="selectedShop.seatCapacity == 1">

      <ion-col col-4 *ngFor="let times of timeSlots">
        <div class="roundedCorners"
          [ngClass]="[times.status == 0?'green':'', times.status == 1?'red':'', times.state == 1?'fade-out':'']">

          <!-- Clickable -->
          <div (click)="popup(times)" *ngIf="times.state == 0">
            <p class="textSize">{{ times.time }}</p>
            <ion-row justify-content-center>
              <ion-col col-5>
                <ion-icon name="custom-gnSeat" [ngClass]="[times.first?'greyIcon':'greenIcon']"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

          <!-- Non - Clickable -->
          <div *ngIf="times.state == 1">
            <p class="textSize">{{ times.time }}</p>
            <ion-row justify-content-center>
              <ion-col col-5>
                <ion-icon name="custom-gnSeat" [ngClass]="[times.first?'greyIcon':'greenIcon']"></ion-icon>
              </ion-col>
            </ion-row>
          </div>

        </div>
      </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>
