<ion-header>
  <ion-navbar>
    <ion-title class="toolbar-title.toolbar-title-md">My Order</ion-title>
    <ion-buttons right class="paddingright">
      <button ion-button icon-only (click)="clicked()">
        <ion-icon name="person" class="ion-md-person" class="resize-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>



<ion-content padding>

  <!-- <h1>Photography</h1>
  <p *ngIf="photographyFlag" class="alert">Sorry, No orders found for Photography..!</p>
  <div *ngIf="!photographyFlag">
    <ion-card *ngFor="let request of photographyOrders" (click)="cardclick(request)">
      <ion-item>

        <ion-row>

          <ion-col col-5>
            <img src="../../assets/imgs/camera1.jpg">
          </ion-col>

          <ion-col col-5 class="order-detail">
            <h2>Pack {{ request.pack.id }}</h2>
            <p>Ordered : {{ request.bookedDate }}</p>
            <p>Function : {{ request.fromDate }}</p>
            <ion-row><button class="b b3 com2 adjust1 adjust2 " ion-button round>Rejected</button></ion-row>
            <!-- <ion-row *ngIf="data.status == 0"><button class="b b1 com2 adjust1 adjust2" ion-button
                round>Waiting</button>
            </ion-row>
            <ion-row *ngIf="data.status == 1"><button class="b b2 com2 adjust1 adjust2" ion-button
                round>Accepted</button>
            </ion-row>
            <ion-row *ngIf="data.status == 3"><button class="b b3 com2 adjust1 adjust2 " ion-button
                round>Rejected</button></ion-row> -->
         <!-- </ion-col>

          <ion-col col-2 class="call-icon">
            <ion-icon name="call"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-item>
    </ion-card>

    <div text-center id="expand-flag" (click)="alterView('photography', true)" *ngIf="!photographyExpanded">
      <ion-label>Show more</ion-label>
    </div>

    <div text-center id="expand-flag" (click)="alterView('photography', false)" *ngIf="photographyExpanded">
      <ion-label>Show less</ion-label>
    </div>
  </div> -->

  <h1>Haircut</h1>
  <p *ngIf="haircutFlag" class="alert">Sorry, No orders found for Haircut..!</p>
  <div *ngIf="!haircutFlag" class="parent">
    <ion-card *ngFor="let request of haircutOrders" (click)="cardclick(request)">
      <ion-item>

        <ion-row>

          <ion-col col-5>
            <img src="{{ request.coverImage }}" class="img-rect">
          </ion-col>

          <ion-col col-5 class="order-detail">

            <h2>{{ request.shopName }}</h2>
            <p>Date : {{ request.date }}</p>
            <p>Time : {{ request.time }}</p>
            <p *ngIf="(request.seats.first == 1 && request.seats.second == 1)">Seat No: 1, 2</p>
            <p *ngIf="(request.seats.first == 0 && request.seats.second == 1)">Seat No: 2</p>
            <p *ngIf="(request.seats.first == 1 && request.seats.second == 0)">Seat No: 1</p>
            <ion-row *ngIf="request.status == 0"><button class="b b1 com2 adjust1 adjust2" ion-button
                round>Waiting</button>
            </ion-row>
            <ion-row *ngIf="request.status == 1"><button class="b b2 com2 adjust1 adjust2" ion-button
                round>Accepted</button>
            </ion-row>
            <ion-row *ngIf="request.status == 2"><button class="b b3 com2 adjust1 adjust2 " ion-button
                round>Rejected</button></ion-row>
          </ion-col>

          <ion-col col-2 class="call-icon" (click)="callShop(request.shopContactNumber)">
            <ion-icon name="call"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-item>
    </ion-card>

    <div text-center id="expand-flag" (click)="alterView('haircut', true)" *ngIf="!haircutExpanded">
      <ion-label>Show more</ion-label>
    </div>

    <div text-center id="expand-flag" (click)="alterView('haircut', false)" *ngIf="haircutExpanded">
      <ion-label>Show less</ion-label>
    </div>
  </div>
</ion-content>
