<ion-header>
  <ion-navbar class="toolbar-background" hideBackButton>
    <p class="toolbar-title">Login</p>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="credentialForm">
    <ion-item no-line class="l1" (click)="setFocusPhoneNumber()">
      <!-- <ion-label stacked>Phone Number</ion-label> -->
      <ion-input type="tel" placeholder="Phone Number" formControlName="phoneNumber" #phoneNumber [attr.maxlength]="10"></ion-input>
    </ion-item>

    <ion-item class="warning-on-input"
      *ngIf="!credentialForm.controls.phoneNumber.valid && (credentialForm.controls.phoneNumber.dirty || submitAttempt)">
      <p>Enter valid Phone number</p>
    </ion-item>

    <ion-item class="l2" (click)="setFocusPassword()">
      <!-- <ion-label stacked>Password</ion-label> -->
      <ion-input type="password" placeholder="Password" formControlName="password" #password></ion-input>
    </ion-item>

    <p class="forget-password" (click)="forgetPassword()"> <a> forgot password? </a></p>

    <ion-item class="warning-on-input"
      *ngIf="!credentialForm.controls.password.valid && (credentialForm.controls.password.dirty || submitAttempt)">
      <p>Password length should be 8 characters long</p>
    </ion-item>

    <button ion-button round full class="button" (click)="signIn()" [disabled]="!credentialForm.valid">SIGN IN</button>

    <p text-center class="navSignUp"> New user? <a (click)="navToSignUp()"> Signup</a></p>
  </form>
</ion-content>
