<!--
  Generated template for the Orderbooked2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title class="toolbar-title.toolbar-title-md">Order Booked</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- For Photography -->
  <div *ngIf="item.service == 'Photography'">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-avatar style=" border: 1px solid black;" class="i1">
            <!----image-->
          </ion-avatar>
        </ion-col>
        <ion-col col-8 class="l1"><b>Pack 1</b>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h2 class="h2">Ordered by</h2>
    <p class="p">{{ item.userName }}</p>

    <ion-card class="card1">
      <ion-item>
        <h2>Function Name</h2>
        <p>{{ item.function }}</p>
        <h2>Function Date and Time</h2>
        <p>{{ item.fromDate }}</p>
        <h2>Event Start</h2>
        <p>{{ item.fromDate }}</p>
        <h2>Event End</h2>
        <p>{{ item.toDate }}</p>
      </ion-item>
    </ion-card>

    <ion-card class="card2">
      <ion-item>
        <h2>Function Name</h2>
        <p>{{ item.function }}</p>
        <h2>Function Date and Time</h2>
        <p>{{ item.fromDate }}</p>
      </ion-item>
    </ion-card>

    <ion-card class="card3">

      <ion-item *ngIf="status == 0">
        <ion-avatar item-start>
          <img src="../../assets/imgs/camera1.jpg">
        </ion-avatar>
        <h2> </h2>
        <h2>Photographer status</h2>
        <p>
          <ion-badge color="secondary">Pending</ion-badge>
        </p>
      </ion-item>

      <ion-item *ngIf="status != 0">
        <ion-avatar item-start>
          <img src="../../assets/imgs/camera1.jpg">
        </ion-avatar>
        <h2>Photographer Name</h2>
        <p>City</p>
        <p>Phone Number</p>
      </ion-item>
    </ion-card>

  </div>

  <!-- For Haircut -->
  <div *ngIf="item.service == 'Haircut'">
    <ion-grid>
      <ion-row>
        <ion-col col-5 class="shop-image">
          <img src="../../../assets/imgs/image2.png" alt="Image">
        </ion-col>
        <ion-col col-7>

          <ion-row>
            <ion-col col-10>
              <ion-row class="l1">

                <ion-col col-12>
                  <b>{{ item.shopName }}</b>
                </ion-col>
                <ion-col col-12>
                  <b>Ordered by</b>
                </ion-col>
                <ion-col col-12>
                  {{ item.userName }}
                </ion-col>

              </ion-row>
            </ion-col>

            <ion-col col-2 class="call-icon">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-12>
              <ion-row *ngIf="item.status == 0"><button class="b b1 com2 adjust1 adjust2" ion-button
                round>Waiting</button>
            </ion-row>
            <ion-row *ngIf="item.status == 1"><button class="b b2 com2 adjust1 adjust2" ion-button
                round>Accepted</button>
            </ion-row>
            <ion-row *ngIf="item.status == 2"><button class="b b3 com2 adjust1 adjust2 " ion-button
                round>Rejected</button></ion-row>
            </ion-col>
          </ion-row>

        </ion-col>

      </ion-row>
    </ion-grid>


    <ion-card class="card1">
      <ion-item>
        <h2>Cost</h2>
        <p>Rs. {{ item.cost }}</p>
        <h2>Time</h2>
        <p>{{ item.time }}</p>
        <h2>Date</h2>
        <p>{{ item.date }}</p>
        <h2>Seat No.</h2>
        <p *ngIf="item.seats.first == 1 && item.seats.second == 1">Seat No: 1, 2</p>
        <p *ngIf="(item.seats.first == 0 && item.seats.second == 1)">Seat No: 2</p>
        <p *ngIf="(item.seats.first == 1 && item.seats.second == 0)">Seat No: 1</p>
      </ion-item>
    </ion-card>

    <ion-card class="card2">
      <ion-item>
        <h2>Transaction Id</h2>
        <p>{{ item.transactionId }}</p>
        <h2>Transaction Date</h2>
        <p>{{ item.date }}</p>
      </ion-item>
    </ion-card>
  </div>

</ion-content>
