<div *ngIf="showSplash" id="splash">
  <div class="sk-folding-cube">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>
</div>

<ion-menu [content]="content">

  <ion-toolbar id="nav-header">
    <ion-grid>

      <ion-col col-12 text-center>

        <img src="../assets/icon/icon.png" alt="MyMan Logo">

      </ion-col>

      <ion-col col-12 text-center>
        <p>Welcome</p>
        <h3>{{ userName }}</h3>
      </ion-col>


    </ion-grid>
  </ion-toolbar>

  <ion-content>
    <ion-list no-lines id="nav-list">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon [name]="p.icon" item-left class="nav-icons"></ion-icon>
        {{ p.title }}
      </button>

      <button ion-button round full menuClose class="button-logout" (click)="logout()">
        Logout
      </button>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
