// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
    &[class*="custom-"] {
      mask-size: contain;
      mask-position: 50% 50%;
      mask-repeat: no-repeat;
      background: currentColor;
      width: 1em;
      height: 1em;
    }
  
    &[class*="custom-Menu"] {
      mask-image: url(../assets/icon/Menu.svg);
    }
    &[class*="custom-hammer"] {
      mask-image: url(../assets/icon/hammer.svg);
    }
    &[class*="custom-Union"] {
      mask-image: url(../assets/icon/Union.svg);
    }
    &[class*="custom-backarrow"] {
      mask-image: url(../assets/icon/Backwardarrow.svg);
    }
    &[class*="custom-calendar"] {
      mask-image: url(../assets/icon/Calendar.svg);
    }
    &[class*="custom-hammer"] {
      mask-image: url(../assets/icon/Hammer.svg);
    }
    &[class*="custom-places"] {
        mask-image: url(../assets/icon/Places.svg);
      }
      &[class*="custom-union"] {
        mask-image: url(../assets/icon/Union42.svg);
      }
      &[class*="custom-Downarrow"] {
        mask-image: url(../assets/icon/Dowwnarrow.svg);
      }
      &[class*="custom-gySeat"] {
        mask-image: url(../assets/icon/greySeat.svg);
      }
      &[class*="custom-gnSeat"] {
        mask-image: url(../assets/icon/greenSeat.svg);
      }
      &[class*="custom-man"] {
        mask-image: url(../assets/icon/man.svg);
      }
      &[class*="custom-woman"] {
        mask-image: url(../assets/icon/woman.svg);
      }
      &[class*="custom-unisex"] {
        mask-image: url(../assets/icon/unisex.svg);
      }
      
  }

.button-logout{
  background: #18A0A0;
  width: 90%;
  margin: auto;
  margin-top: 25%;
}
:root {
  --teal: #18A0A0;
  --header-profile: 20%;
  --seat-color-first: #808080;
  --seat-color-second: #808080;

}

ion-icon.nav-icons {
  color: var(--teal);
}

ion-list#nav-list {
  margin-top: 200px;
}

#nav-header img{
  width: 100px;
  height: 120px;
  margin-top: 10px;
}

#nav-header p {
  font-size: 16px;
}

#nav-header h3 {
  font-size: 16px;
  margin-top: -7px;
}

// Haircut Booked Conform popup
.bold-text .alert-message {
  font-size: 18px;
  font-weight: 500;
  color: #ff0000;
  margin-top: -10px;
}

.bold-text .alert-sub-title {
  font-size: 18px;
  font-weight: 400;
  color: grey;
  margin-top: 30px;
}