page-haircut-home {
  // ##### toolbar styling #####

  .toolbar-title.toolbar-title-md {
    color: #18A0A0;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-left: 13%;
  }

  .toolbar-background {
    background-color: white;
  }

  .hammer {
    padding-right: 13px;
  }

  .Back-Arrow {
    padding-left: 9px;
  }

  .Union {
    padding-right: 13px;
  }

  .resize-icon {
    height: 60%;
    widows: 60%;
  }

  // ##### common for all icon #####
  ion-icon {
    color: #18A0A0;

  }

  // ###### total area for a card ######
  .card-area {
    width: 99%;
    height: 130px;
    margin: 0;
    text-align: center;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
  }

  .card-position {
    margin-bottom: 3%;
  }

  // ####### card image
  .image {
    position: relative;
    top: -31px;
    left: -22px;
    width: 133px;
    height: 150px;
    background-image: url(../assets/imgs/image2.png);
    background-size: cover;
    display: block;
    //border-radius: 50%;
  }

  // ###### all label font size ######
  .first-last-label {
    font-size: 16px;
  }

  .mid-all-label {
    font-size: 13px;
  }

  // ##### all label position ########
  .Ist-label-pos {
    margin-top: -8%;
    text-align: start;
    margin-left: 35px;
  }

  .other-label-pos {
    margin-top: -5%;
    text-align: start;
    margin-left: 35px;
  }

  // ####### Location icon position ########
  .pin-icon {
    margin-top: 240%;
    font-size: 20px;

  }

}
