page-haircut-popup {

  /*================================================================
                                 ion-content
    ==================================================================*/

  ion-content {
    margin: 0 !important;
  }

  .scroll-content {
    margin-bottom: 30px !important;
  }

  h1 {
    font-size: 20px !important;
  }

  p {
    font-size: 16px;
    font-weight: lighter;
    margin-top: -4%;
  }

  .seatCenter {
    margin-left: 8%;
    margin-top: -20%;
  }

  .firstIcon {
    color: var(--seat-color-first);
    font-size: 75px;
    mask-position: 5% 5% !important;
    display: inline-block;
  }

  .secondIcon {
    color: var(--seat-color-second);
    font-size: 75px;
    mask-position: 5% 5% !important;
    display: inline-block;
  }

  /*==================================================================
                                ion-footer
    ===================================================================*/

  .footer-grid {
    padding-top: -20%;
  }

  .borderTop {
    border-top: 1px solid #707070;

  }

  .borderRight {
    border-right: 1px solid #707070;
  }

  .center {
    text-align: center;
  }

  .green {
    color: #35AE59;

  }

  .red {
    color: #FF0000;
  }

}
