page-shop-home {

  /*=====================================
                Global
    ===================================*/

  //  common for all icon 
  ion-icon {
    color: #18A0A0;
  }

  .toolbar-title.toolbar-title-md {
    color: #18A0A0;
    font-size: 23px;
    font-weight: 400;
    margin-right: 60px;
  }

  .toolbar-background {
    background-color: white;
  }


  /*=====================================
                Shop Status
    ===================================*/

  #shop-status {
    margin-top: 20px;
  }

  #shop-status p {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
    margin-top: -10px;
  }

  #shop-status .toggle {
    position: relative;
  }

  #shop-status .toggle ion-toggle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
  }

  /*=====================================
                Discount
    ===================================*/

  #discount {
    margin-top: 20px;
  }

  #discount h2 {
    margin-left: 5px;
  }

  #discount .discount-wrapper {
    border: 1px solid rgb(48, 49, 49);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    height: 40px;
    margin-left: 5px;
    margin-right: 25px !important;
  }

  #discount .discount-wrapper p {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    margin-top: 6px;
    margin-left: 20px;
  }

  #discount .discount-wrapper ion-icon {
    zoom: 1.8;
  }

  /*=====================================
                    Orders
    ===================================*/

  #orders {
    margin-top: 20px;
  }

  #orders h2 {
    margin-left: 8px;
  }

  #orders .card2 {
    border-radius: 20px !important;
    height: 420px !important;
    padding-top: 2px;
    margin-right: 25px !important;
    padding-left: 12px !important;
    margin-top: 40px !important;
    border: 1px solid rgb(48, 49, 49);
  }

  #orders .card2 h2 {
    margin-left: 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
  }

  #orders .card2 p {
    font-size: 16px;
    margin-bottom: 12px;
  }

  #orders .card2 ion-icon {
      zoom: 1.6;
  }

  #orders .card2 h3 {
      font-size: 16px;
      color: #ff0000;
      margin: 13px 0;
  }

  #orders p {
    font-size: 18px;
    margin: 0 auto;
    color: grey;
  }



}
