<ion-header>
  <ion-navbar>

    <ion-title text-center>Home</ion-title>

    <ion-buttons left class="Menu">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu" class="resize-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>

    <!-- Shop Status -->
    <ion-row id="shop-status">

      <!-- Status text -->
      <ion-col col-9>
        <ion-row>

          <ion-col col-12>
            <h2>Shop Status</h2>
          </ion-col>
          <ion-col col-12>
            <p *ngIf="metaData.status">Open</p>
            <p *ngIf="!metaData.status">Close</p>
          </ion-col>

        </ion-row>
      </ion-col>

      <!-- Toggle -->
      <ion-col col-3 class="toggle">
        <ion-toggle [checked]="metaData.status" color="secondary" (ionChange)="shopStatusChanged($event)"></ion-toggle>
      </ion-col>

    </ion-row>

    <!-- Discount -->
    <ion-row id="discount">

      <ion-col col-12>
        <h2>Discount</h2>
      </ion-col>
      <ion-col col-12>

        <div class="discount-wrapper">

          <ion-row (click)="showOffer()">
            <ion-col col-10>
              <p>Discount {{ metaData.offer }}% Applied</p>
            </ion-col>
            <ion-col col-2 text-center>
              <ion-icon name="arrow-dropdown"></ion-icon>
            </ion-col>
          </ion-row>

        </div>

      </ion-col>

    </ion-row>

    <!-- Orders if present -->
    <ion-row id="orders" *ngIf="orderFlag">

      <h2>Appointments</h2>

      <ion-card class="card2" *ngFor="let requests of latestRequests">
        <ion-item>

          <ion-row>

            <ion-col col-12>
              <h2>Customer Name</h2>
              <p>{{ requests.userName }}</p>
            </ion-col>

            <ion-col col-12>
              <h2>Date</h2>
              <p>{{ requests.date }}</p>
            </ion-col>

            <ion-col col-10>
              <h2>Phone Number</h2>
              <p>{{ requests.userPhoneNumber }}</p>
            </ion-col>

            <ion-col col-2 (click)="makeCall(requests.userPhoneNumber)">
              <ion-icon name="call"></ion-icon>
            </ion-col>

            <ion-col col-12>
              <h2>Time</h2>
              <p>{{ requests.time }}</p>
            </ion-col>

            <ion-col col-12>
              <h2>Seat No</h2>
              <p *ngIf="requests.seats.first == 1 && requests.seats.second == 1">1, 2</p>
              <p *ngIf="requests.seats.first == 1 && requests.seats.second == 0">1</p>
              <p *ngIf="requests.seats.first == 0 && requests.seats.second == 1">2</p>
            </ion-col>


            <ion-col col-3>

            </ion-col>

            <ion-col col-5>
              <button ion-button color="secondary" round (click)="acceptClicked(requests)">Accept</button>
            </ion-col>

            <ion-col col-4 text-center (click)="rejectClicked(requests)">
              <h3>Reject</h3>
            </ion-col>

          </ion-row>

        </ion-item>
      </ion-card>




    </ion-row>

    <!-- Orders if absent -->
    <ion-row id="orders" *ngIf="!orderFlag">

      <h2>Appointments</h2>

      <p>No Waiting Appointments found for your shop</p>

    </ion-row>

  </ion-grid>
</ion-content>
