<ion-header>
  <ion-navbar class="toolbar-background" hideBackButton>
    <ion-title class="toolbar-title.toolbar-title-md">Signup</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  
    <ion-avatar  style=" border: 1px solid black;">
        <!--image-->
    </ion-avatar>

<form [formGroup]="credentialForm"> 
  <ion-item class="l1">
    <!-- <ion-label  position="floating">Phone Number</ion-label> -->
    <ion-input type="Number" 
                placeholder="Phone Number"
                formControlName="phoneNumber"></ion-input>
  </ion-item>

  <ion-item 
      class="warning-on-input"
      *ngIf="!credentialForm.controls.phoneNumber.valid  && (credentialForm.controls.phoneNumber.dirty || submitAttempt)">
    <p>Please enter a valid Phone Number</p>
  </ion-item>

  <ion-item class="l2">
    <!-- <ion-label    position="floating">Mail</ion-label> -->
    <ion-input type="email" 
                placeholder="Email"
                formControlName="email"></ion-input>
  </ion-item>

  <ion-item 
      class="warning-on-input"
      *ngIf="!credentialForm.controls.email.valid  && (credentialForm.controls.email.dirty || submitAttempt)">
    <p>Please enter a valid Email</p>
  </ion-item>

  <ion-item class="l3"m>
    <!-- <ion-label  position="floating">Password</ion-label> -->
    <ion-input type="password" 
                placeholder="Password"
                formControlName="password"></ion-input>
  </ion-item>

  <ion-item 
      class="warning-on-input"
      *ngIf="!credentialForm.controls.password.valid  && (credentialForm.controls.password.dirty || submitAttempt)">
    <p>Password should be greater than 6 characters</p>
  </ion-item>

  <ion-item class="l4">
    <!-- <ion-label   position="floating"> Confirm Password</ion-label> -->
    <ion-input type="password" 
                placeholder="Confirm Password"
                formControlName="confirmPassword"></ion-input>
  </ion-item>

  <ion-item 
      class="warning-on-input"
      *ngIf="!credentialForm.controls.confirmPassword.valid  && (credentialForm.controls.password.dirty || submitAttempt) && !credentialForm.controls.confirmPassword.valid">
    <p>Password and Conform password must be same</p>
  </ion-item>
  
    <ion-buttons type="submit">
    <button  ion-button  round full class="button" 
              (click)="signUp()"
              [disabled]="!credentialForm.valid">SIGNUP</button>
    </ion-buttons>
    
    <p text-center class="navLogin">  Already an user?  <a (click)="navToLogin()"> Login</a>
    </p>
  </form>
</ion-content>
