page-signup {
    .toolbar-title.toolbar-title-md{ padding-left:55px; text-align: center; color: white; font-size: 25px;}
    .toolbar-background {background-color: #18A0A0; }
   ion-icon{
       color: #18A0A0;
   }
ion-avatar{
    height: 100px ;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    margin-top: 50px;
    margin-left: 110px;
   align-content: center;

    
}
.l1{
    margin-top: 25px;
    width: 95%;
    height: 40px;
   
    border-radius:  50px 50px 50px 50px;
}
.l2{
    margin-top: 25px;
    width: 95%;
    height: 40px;
    
    border-radius:  50px 50px 50px 50px;
}
.l3{
    margin-top: 25px;
    width:95%;
    height: 40px;
    
    border-radius:  50px 50px 50px 50px;
}
.l4{
    margin-top: 25px;
    width: 95%;
    height: 40px;
    margin-bottom: 25;
    border-radius:  50px 50px 50px 50px;
}
}
