page-signup {
    .toolbar-title.toolbar-title-md{ color: white; font-size: 25px; font-weight: 400; text-align: center ;}
    .toolbar-background {
        background-color: #18A0A0; 
    }
    ion-icon{
        color: #18A0A0;
    }
    ion-avatar{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        margin-top: 25%;
    }
    .l1{
        position: relative;
        border-radius: 30px !important;
        font-size: 0.9em;
        border: 1px solid grey;
        width: 90%;
        margin: auto;
        margin-top: 8%;
    }
    .l2{
        position: relative;
            border-radius: 30px !important;
            font-size: 0.9em;
            border: 1px solid grey;
            width: 90%;
            margin: auto;
            margin-top: 8%;
    }
    .l3{
        position: relative;
        border-radius: 30px !important;
        font-size: 0.9em;
        border: 1px solid grey;
        width: 90%;
        margin: auto;
        margin-top: 8%;
    }
    .l4{
        position: relative;
        border-radius: 30px !important;
        font-size: 0.9em;
        border: 1px solid grey;
        width: 90%;
        margin: auto;
        margin-top: 8%;
        
    }
    .button{
        background: #18A0A0;
        width: 90%;
        margin: auto;
        margin-top: 20%;
    }

    .navLogin{
        margin-top: 15%;
    }


    .warning-on-input{
        width: 90%;
        margin: auto;
        margin-top: 1%;
    }
}
